*{
  background-color: #504747;
  color: white;
   font-family: "Poppins", sans-serif;
   margin: 0;

}

.main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}
.movie-card{
/* box-sizing: 20px;
padding: 0;
margin: 5px;
width:200px ;
height: 200px; */
width:150px;
height:300px;
padding:5px;
justify-content: center; 

}

